[submodule "fyp_backend"]
	path = fyp_backend
	url = git@github.com:t-bowcock/fyp_backend.git
[submodule "fyp_frontend"]
	path = fyp_frontend
	url = git@github.com:t-bowcock/fyp_frontend.git
[submodule "xml_to_csv"]
	path = xml_to_csv
	url = git@github.com:t-bowcock/xml_to_csv.git
